<h1><%= t('.title') %></h1>

<%= form_with(model: @task, local: true) do |form| %>
<table>
	<tr>
		<th><%= form.label :task_name %></th>
		<td><%= form.text_field :task_name %></td>
	</tr>
	<tr>
		<th><%= form.label :content %></th>
		<td><%= form.text_area :content %></td>
	</tr>
</table>
<%= form.submit %>
<% end %>
