<h1><%= t('.title') %></h1>

<p><%= flash[:notice] %></p>

<table>
	<thead>
		<tr>
			<th><%= t('activerecord.attributes.task.id') %></th>
			<th><%= t('activerecord.attributes.task.task_name') %></th>
			<th>
				<%= t('activerecord.attributes.task.limit_date') %>
				<%= link_to "▲", { sort_column: :limit_date, sort_direction: "asc" } %>
				<%= link_to "▼", { sort_column: :limit_date, sort_direction: "desc" } %>
			</th>
		</tr>
	</thead>

<% @tasks.each do |task| %>
	<tr>
		<td><%= task.id %></td>
		<td><%= link_to task.task_name, task_path(task) %></td>
		<td class="limit_date"><%= task.limit_date %></td>
	</tr>
<% end %>
</table>
<br/>
<%= link_to t('.new'), new_task_path %>
