<h1><%= t('.title') %></h1>

<p><%= flash[:notice] %></p>

<table>
	<thead>
		<tr>
			<th><%= t('activerecord.attributes.task.id') %></th>
			<th><%= t('activerecord.attributes.task.task_name') %></th>
		</tr>
	</thead>

<% @tasks.each do |task| %>
	<tr>
		<td><%= task.id %></td>
		<td><%= link_to task.task_name, task_path(task) %></td>
	</tr>
<% end %>
</table>
<br/>
<%= link_to "新規タスク作成", new_task_path %>
