<h1><%= t('.title') %></h1>

<%= form_with(model: @task, local: true) do |form| %>
<%= render 'shared/error_messages', object: form.object %>
<table>
	<tr>
		<th><%= form.label :task_name %></th>
		<td><%= form.text_field :task_name %></td>
	</tr>
	<tr>
		<th><%= form.label :content %></th>
		<td><%= form.text_area :content %></td>
	</tr>
	<tr>
		<th><%= form.label :limit_date %></th>
		<td><%= form.date_select :limit_date %></td>
	</tr>
	<tr>
		<th><%= form.label :status %></th>
		<td><%= form.select :status, Task.statuses.keys.map { |k| [I18n.t("enums.task.status.#{k}"), k] } %></td>
	</tr>
</table>
<%= form.submit %>
<% end %>
<br/>
<%= link_to t('.back'), tasks_path %>
