<h1><%= t('.title') %></h1>

<%= form_with(model: @task, local: true) do |form| %>
<% if @task.errors.any? %>
  <p><%= t('errors.common_msg') %></p>
	<ul>
		<% @task.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		<% end %>
	</ul>
<% end %>

<table>
	<tr>
		<th><%= form.label :task_name %></th>
		<td><%= form.text_field :task_name %></td>
	</tr>
	<tr>
		<th><%= form.label :content %></th>
		<td><%= form.text_area :content %></td>
	</tr>
	<tr>
		<th><%= form.label :limit_date %></th>
		<td><%= form.date_select :limit_date %></td>
	</tr>
	<tr>
		<th><%= form.label :status %></th>
		<td><%= form.select :status, Task.statuses.keys.map { |k| [I18n.t("enums.task.status.#{k}"), k] } %></td>
	</tr>
	<tr>
		<th><%= form.label :user_id %></th>
		<td><%= form.collection_select(:user_id, User.all, :id, :user_name, include_blank: t("message.select_blank")) %></td>
	</tr>
</table>
<%= form.submit %>
<% end %>
<br/>
<%= link_to t('.back'), tasks_path %>
