<h1>タスク詳細</h1>

<p><%= flash[:notice] %></p>
<%= link_to "編集する", edit_task_path %>
<table>
	<tr>
		<td>タスク</td>
		<td><%= @task.task_name %></td>
	</tr>
	<tr>
		<td>説明</td>
		<td><%= @task.content %></td>
	</tr>
</table>
<br/>
<%= link_to "一覧に戻る", tasks_path %>
