<h1><%= t('.title') %></h1>

<p><%= flash[:notice] %></p>
<%= link_to "編集", edit_task_path %>
<%= link_to "削除", @task, method: :delete %>
<p>
	<strong><%= t('activerecord.attributes.task.task_name') %>：</strong>
	<%= @task.task_name %>
</p>
<p>
	<strong><%= t('activerecord.attributes.task.content') %>：</strong>
	<%= @task.content %>
</p>
<br/>
<%= link_to "一覧に戻る", tasks_path %>
